
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page3</title>
</head>
<body>

    <h2>This is Page3</h2>

</body>
</html>
