
@{
    Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetCache</title>
</head>
<body>
    <h2>Cache Başarıyla Remove Edildi</h2>
</body>
</html>
